#!/bin/bash -eu

#
# Összetákoljuk a control fájlt.
#

. /usr/lib/uhubuild/uhubuild-common

for pkg in $UB_PACKAGES; do
	cd "$UB_PACKAGEDIR/$pkg"
	{
		echo "Package: $pkg"
		echo "Version: $UB_VERSION-$UB_RELEASE$UB_EXTRARELEASE"
		echo "Section: $(cat "$UB_SRCDIR/packages/$pkg/section")"
		if [ -s "$UB_SRCDIR/packages/$pkg/categories" ]; then
			cat="$(tr '\n' ',' <"$UB_SRCDIR/packages/$pkg/categories")"
			cat="${cat%,}"
			echo "Categories: ${cat//,/, }"
		fi
		prio="$(cat "$UB_SRCDIR/packages/$pkg/priority")"
		echo "Priority: $prio"
		if [ "$prio" = "required" ]; then
			echo "Essential: yes"
		fi
		echo "Architecture: i386"

		if [ -s "$UB_ADMINDIR/depends-$pkg" ]; then
			sep=''
			echo -n "Depends:"
			while read -r line; do
				echo -n "$sep" "$line"
				sep=','
			done < "$UB_ADMINDIR/depends-$pkg"
			echo
		fi

		echo "Distribution: ${UB_DISTRIBUTION/ dev/ 3}"
		if [ -f "$UB_SRCDIR/vendor" ]; then
			echo "Vendor: $(cat "$UB_SRCDIR/vendor")"
		fi
		if [ -f "$UB_SRCDIR/maintainer" ]; then
			echo "Maintainer: $(cat "$UB_SRCDIR/maintainer")"
		fi
		echo "Source: ${UB_SOURCENAME}_$UB_VERSION-$UB_RELEASE"
		echo "Description: $(sed -e 's/\(^\|[[:space:]]\)&/\1/g' "$UB_SRCDIR/packages/$pkg/summary/hu")"
		sed -e 's/^$/\./' -e 's/^/ /' -e 's/\(^\|[[:space:]]\)&/\1/g' < "$UB_SRCDIR/packages/$pkg/description/hu"
		if [ -f "$UB_SRCDIR/homepage" ]; then
			echo "Homepage: $(cat "$UB_SRCDIR/homepage")"
		fi
	} > DEBIAN/control
	if ! iconv -f UTF-8 -t UTF-8 <DEBIAN/control >/dev/null 2>&1; then
		echo "  control file of $pkg is not valid UTF-8"
		exit 1
	fi
done
