#!/bin/bash -eu

#
# Összetákoljuk a control fájlt.
#

. /usr/lib/uhubuild/uhubuild-common

for pkg in $UB_PACKAGES; do
	cd "$UB_PACKAGEDIR/$pkg"
	{
		echo "Package: $pkg"
		echo "Source: ${UB_SOURCENAME}_$UB_VERSION-$UB_RELEASE"
		echo "Version: $UB_VERSION-$UB_RELEASE$UB_EXTRARELEASE"
		echo "Architecture: ${UB_ARCH}"

		if [ "$UHUBUILD_DISTR" = "dev" ]; then
			echo "Distribution: UHU Linux UBK1"
		else
			echo "Distribution: ${UB_DISTRIBUTION}"
		fi
		
		prio="$(cat "$UB_SRCDIR/packages/$pkg/priority")"
		echo "Priority: $prio"
		if [ "$prio" = "required" ]; then
			echo "Essential: yes"
		fi

		echo "Maintainer: $(cat "$UB_SRCDIR/maintainer")"

		if [ -f "$UB_SRCDIR/vendor" ]; then
			echo "Vendor: $(cat "$UB_SRCDIR/vendor")"
		fi
		
		if [ -s "$UB_ADMINDIR/depends-$pkg" ]; then
			sep=''
			echo -n "Depends:"
			while read -r line; do
				echo -n "$sep" "$line"
				sep=','
			done < "$UB_ADMINDIR/depends-$pkg"
			echo
		fi

		if [ -s "$UB_SRCDIR/packages/$pkg/pre-depends" ]; then
			sep=''
			echo -n "Pre-Depends:"
			while read -r line; do
				echo -n "$sep" "$line"
				sep=','
			done < "$UB_SRCDIR/packages/$pkg/pre-depends"
			echo
		fi
		if [ -s "$UB_SRCDIR/packages/$pkg/conflicts" ]; then
			sep=''
			echo -n "Conflicts:"
			while read -r line; do
				echo -n "$sep" "$line"
				sep=','
			done < "$UB_SRCDIR/packages/$pkg/conflicts"
			echo
		fi
		if [ -s "$UB_SRCDIR/packages/$pkg/replaces" ]; then
			sep=''
			echo -n "Conflicts:"
			while read -r line; do
				echo -n "$sep" "$line"
				sep=','
			done < "$UB_SRCDIR/packages/$pkg/replaces"
			echo
			sep=''
			echo -n "Replaces:"
			while read -r line; do
				echo -n "$sep" "$line"
				sep=','
			done < "$UB_SRCDIR/packages/$pkg/replaces"
			echo
		fi
		if [ -s "$UB_SRCDIR/packages/$pkg/obsoletes" ]; then
			sep=''
			echo -n "Obsoletes:"
			while read -r line; do
				echo -n "$sep" "$line"
				sep=','
			done < "$UB_SRCDIR/packages/$pkg/obsoletes"
			echo
		fi
		if [ -s "$UB_SRCDIR/packages/$pkg/provides" ]; then
			sep=''
			echo -n "Provides:"
			while read -r line; do
				echo -n "$sep" "$line"
				sep=','
			done < "$UB_SRCDIR/packages/$pkg/provides"
			echo
		fi

		echo "Section: $(cat "$UB_SRCDIR/packages/$pkg/section")"
		if [ -s "$UB_SRCDIR/packages/$pkg/categories" ]; then
			cat="$(tr '\n' ',' <"$UB_SRCDIR/packages/$pkg/categories")"
			cat="${cat%,}"
			echo "Categories: ${cat//,/, }"
		fi

		if [ -f "$UB_SRCDIR/homepage" ]; then
			echo "Homepage: $(cat "$UB_SRCDIR/homepage")"
		fi
		
		echo "Description: $(sed -e 's/\(^\|[[:space:]]\)&/\1/g' "$UB_SRCDIR/packages/$pkg/summary/hu")"
		sed -e 's/^$/\./' -e 's/^/ /' -e 's/\(^\|[[:space:]]\)&/\1/g' < "$UB_SRCDIR/packages/$pkg/description/hu"

	} > DEBIAN/control
	if ! iconv -f UTF-8 -t UTF-8 <DEBIAN/control >/dev/null 2>&1; then
		echo "  control file of $pkg is not valid UTF-8"
		exit 1
	fi
done
